@using QuartzNet.WebConsole.VewModels.QuartzConsole
<!DOCTYPE html>
<html>
    <head>
        <title>Quartz - @ViewBag.machineName @ViewBag.title</title>
        <script type="text/javascript" src="/Content/js/jquery.js"> </script>
        <script type="text/javascript" src="/Content/js/bootstrap.js"> </script>
        <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
        @RenderSection("head", false)
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>